In [1]:
import os, tarfile
import pandas as pd
import pybedtools
pybedtools.helpers.set_tempdir('/data/projects/temp')

In [2]:
gencode_path= "/data/projects/Resources/Gencode_genome_annotation/"
gtf_annotation_filename= "gencode.v40.annotation.gtf"
gencode_gtf_file_path= gencode_path+ gtf_annotation_filename

In [3]:
# Define the column names for a GTF file
col_names = ['seqname', 'source', 'feature', 'start', 'end', 'score', 'strand', 'frame', 'attribute']

# Read the GTF file, skipping lines that start with '#'
df = pd.read_csv(gencode_gtf_file_path, sep='\t', comment='#', names=col_names, header=None)

In [4]:
df

,seqname,source,feature,start,end,score,strand,frame,attribute
0,chr1,HAVANA,gene,11869,14409,.,+,.,"gene_id ""ENSG00000223972.5""; gene_type ""transc..."
1,chr1,HAVANA,transcript,11869,14409,.,+,.,"gene_id ""ENSG00000223972.5""; transcript_id ""EN..."
2,chr1,HAVANA,exon,11869,12227,.,+,.,"gene_id ""ENSG00000223972.5""; transcript_id ""EN..."
3,chr1,HAVANA,exon,12613,12721,.,+,.,"gene_id ""ENSG00000223972.5""; transcript_id ""EN..."
4,chr1,HAVANA,exon,13221,14409,.,+,.,"gene_id ""ENSG00000223972.5""; transcript_id ""EN..."
...,...,...,...,...,...,...,...,...,...
3283857,chrM,ENSEMBL,transcript,15888,15953,.,+,.,"gene_id ""ENSG00000210195.2""; transcript_id ""EN..."
3283858,chrM,ENSEMBL,exon,15888,15953,.,+,.,"gene_id ""ENSG00000210195.2""; transcript_id ""EN..."
3283859,chrM,ENSEMBL,gene,15956,16023,.,-,.,"gene_id ""ENSG00000210196.2""; gene_type ""Mt_tRN..."
3283860,chrM,ENSEMBL,transcript,15956,16023,.,-,.,"gene_id ""ENSG00000210196.2""; transcript_id ""EN..."
3283861,chrM,ENSEMBL,exon,15956,16023,.,-,.,"gene_id ""ENSG00000210196.2""; transcript_id ""EN..."

In [18]:
df = df[['seqname', 'start', 'end', 'source', 'feature','strand', 'frame', 'attribute']]

In [19]:
df_gene = df[df['feature']=="gene"]
df_gene

,seqname,start,end,source,feature,strand,frame,attribute
0,chr1,11869,14409,HAVANA,gene,+,.,"gene_id ""ENSG00000223972.5""; gene_type ""transc..."
12,chr1,14404,29570,HAVANA,gene,-,.,"gene_id ""ENSG00000227232.5""; gene_type ""unproc..."
25,chr1,17369,17436,ENSEMBL,gene,-,.,"gene_id ""ENSG00000278267.1""; gene_type ""miRNA""..."
28,chr1,29554,31109,HAVANA,gene,+,.,"gene_id ""ENSG00000243485.5""; gene_type ""lncRNA..."
36,chr1,30366,30503,ENSEMBL,gene,+,.,"gene_id ""ENSG00000284332.1""; gene_type ""miRNA""..."
...,...,...,...,...,...,...,...,...
3283843,chrM,14149,14673,ENSEMBL,gene,-,.,"gene_id ""ENSG00000198695.2""; gene_type ""protei..."
3283848,chrM,14674,14742,ENSEMBL,gene,-,.,"gene_id ""ENSG00000210194.1""; gene_type ""Mt_tRN..."
3283851,chrM,14747,15887,ENSEMBL,gene,+,.,"gene_id ""ENSG00000198727.2""; gene_type ""protei..."
3283856,chrM,15888,15953,ENSEMBL,gene,+,.,"gene_id ""ENSG00000210195.2""; gene_type ""Mt_tRN..."
3283859,chrM,15956,16023,ENSEMBL,gene,-,.,"gene_id ""ENSG00000210196.2""; gene_type ""Mt_tRN..."

In [20]:
df_snp= pd.read_csv("/data/projects/GDC_Cancer_Wise/Brain/Data/Postprocessing_result/Acceptor/important_snp.tsv", sep= "\t")
df_snp

,Column,Max Value,Non-NaN Count,Non-NaN Indices,Percentage,Variant Region Difference
0,chr16_58267438_58267517_58267455_58267458,36.161531,32,"[6, 7, 25, 32, 49, 63, 65, 80, 97, 115, 128, 1...",10.958904,3
1,chr10_73797336_73797415_73797341_73797342,35.699415,3,"[17, 219, 266]",1.027397,1
2,chr12_23190232_23190311_23190241_23190245,34.806988,4,"[26, 163, 196, 290]",1.369863,4
3,chr4_52750790_52750869_52750817_52750818,34.397403,2,"[76, 240]",0.684932,1
4,chr3_175460004_175460083_175460009_175460012,34.386584,2,"[122, 257]",0.684932,3
...,...,...,...,...,...,...
3780,chr1_209623686_209623765_209623748_209623749,5.003059,6,"[73, 108, 140, 156, 167, 206]",2.054795,1
3781,chr6_29828502_29828581_29828528_29828529,5.002682,193,"[0, 1, 2, 3, 6, 7, 10, 11, 13, 14, 15, 16, 17,...",66.095890,1
3782,chr19_35259199_35259278_35259204_35259205,5.002419,1,[44],0.342466,1
3783,chr13_110492029_110492108_110492064_110492065,5.000697,22,"[43, 52, 53, 64, 66, 72, 98, 106, 115, 118, 13...",7.534247,1
3784,chr7_899451_899530_899526_899527,5.000186,1,[10],0.342466,1

In [21]:
split_columns = df_snp.iloc[:, 0].str.split('_', expand=True)

# Create a new DataFrame with the required columns
new_df = pd.DataFrame({
    'chr': split_columns[0],
    'acceptor_start': split_columns[1],
    'acceptor_end': split_columns[2]
})

# Convert 'start' and 'end' columns to numeric type
new_df['acceptor_start'] = pd.to_numeric(new_df['acceptor_start'])
new_df['acceptor_end'] = pd.to_numeric(new_df['acceptor_end'])

In [24]:
df_acceptor = new_df.drop_duplicates().reset_index(drop=True)
df_acceptor

        chr  acceptor_start  acceptor_end
0     chr16        58267438      58267517
1     chr10        73797336      73797415
2     chr12        23190232      23190311
3      chr4        52750790      52750869
4      chr3       175460004     175460083
...     ...             ...           ...
3780   chr1       209623686     209623765
3781   chr6        29828502      29828581
3782  chr19        35259199      35259278
3783  chr13       110492029     110492108
3784   chr7          899451        899530

[3785 rows x 3 columns]

In [25]:
acceptor_bed = pybedtools.BedTool.from_dataframe(df_acceptor)
gene_bed = pybedtools.BedTool.from_dataframe(df_gene)

In [26]:
intersect_gene_acceptor = gene_bed.intersect(acceptor_bed, wa=True, wb=True)
column_list  = df_gene.columns.to_list() + df_acceptor.columns.to_list()
    #print(column_list)
df_intersection = intersect_gene_acceptor.to_dataframe(names=column_list)

In [27]:
df_intersection

,seqname,start,end,source,feature,strand,frame,attribute,chr,acceptor_start,acceptor_end
0,chr1,586071,827796,HAVANA,gene,-,.,"gene_id ""ENSG00000230021.10""; gene_type ""trans...",chr1,807176,807255
1,chr1,586071,827796,HAVANA,gene,-,.,"gene_id ""ENSG00000230021.10""; gene_type ""trans...",chr1,809581,809660
2,chr1,778747,810065,HAVANA,gene,+,.,"gene_id ""ENSG00000237491.10""; gene_type ""lncRN...",chr1,807176,807255
3,chr1,778747,810065,HAVANA,gene,+,.,"gene_id ""ENSG00000237491.10""; gene_type ""lncRN...",chr1,809581,809660
4,chr1,800879,817712,HAVANA,gene,-,.,"gene_id ""ENSG00000230092.7""; gene_type ""transc...",chr1,807176,807255
...,...,...,...,...,...,...,...,...,...,...,...
4842,chrX,155137111,155156503,HAVANA,gene,+,.,"gene_id ""ENSG00000235991.4""; gene_type ""unproc...",chrX,155156406,155156485
4843,chrX,156025664,156027877,HAVANA,gene,-,.,"gene_id ""ENSG00000227159.8""; gene_type ""unproc...",chrX,156027043,156027122
4844,chrY,6357219,6369921,HAVANA,gene,-,.,"gene_id ""ENSG00000229643.2""; gene_type ""lncRNA...",chrY,6369337,6369416
4845,chrY,13153931,13162214,HAVANA,gene,-,.,"gene_id ""ENSG00000235462.1""; gene_type ""transc...",chrY,13153985,13154064
4846,chrY,13234577,13480673,HAVANA,gene,-,.,"gene_id ""ENSG00000183878.16""; gene_type ""prote...",chrY,13306211,13306290