In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("//data/private/pdutta/VCF_data/MergedTransVCF/merged_chr2.csv")

In [3]:
df.head()

,Unnamed: 0,transcription_start_site,chromosome_name,transcript_start,transcript_end,strand,ensembl_gene_id,ensembl_transcript_id,mutations
0,234,21044073,chr2,21001429,21044073,-1,ENSG00000084674,ENST00000233242,"rs1663876300, rs1663674989, rs886055565, rs166..."
1,242,19358623,chr2,19351485,19358623,-1,ENSG00000143867,ENST00000272223,"rs1041878582, rs1664849630, rs1664939091, rs16..."
2,250,25121673,chr2,25121673,25154361,1,ENSG00000084710,ENST00000264719,"rs747999572, rs959120992, rs1346903942, rs1190..."
3,263,11539843,chr2,11539843,11588243,1,ENSG00000196208,ENST00000263834,"rs373909340, rs1572797221, rs1237923365, rs119..."
4,264,11556353,chr2,11556353,11642786,1,ENSG00000196208,ENST00000234142,"rs750767918, rs373909340, rs1572797221, rs1572..."

In [5]:
df_DBSNP = pd.read_csv("/data/private/pdutta/VCF_data/Merged_DBSNP_Chrwise/chr2_data_merged.csv")

/tmp/ipykernel_202846/1371329063.py:1: DtypeWarning: Columns (23,24,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df_DBSNP = pd.read_csv("/data/private/pdutta/VCF_data/Merged_DBSNP_Chrwise/chr2_data_merged.csv")

In [6]:
df_DBSNP.head()

,chromosome,start,end,name,ref,altCount,alts,shiftBases,freqSourceCount,minorAlleleFreq,...,alleleTotals,soTermCount,soTerms,clinVarCount,clinVarAccs,clinVarSigs,submitterCount,submitters,pubMedIdCount,pubMedIds
0,chr2,31032285,31032286,rs1000000004,T,1,"C,",0,31,"-inf,0.000213523,0.000313574,-inf,-inf,-inf,-i...",...,"0,14050,264690,0,0,0,0,0,0,16760,0,0,140186,0,...",1,"1627,",0,NaN,NaN,4,"GNOMAD,HUMAN_LONGEVITY,TOMMO_GENOMICS,TOPMED,",0,NaN
1,chr2,95169762,95169763,rs1000000009,A,1,"G,",0,31,"-inf,0,7.55601e-06,-inf,-inf,-inf,-inf,-inf,-i...",...,"0,14050,264690,0,0,0,0,0,0,0,0,0,139988,0,0,0,...",1,"1627,",0,NaN,NaN,2,"GNOMAD,TOPMED,",0,NaN
2,chr2,26429613,26429614,rs1000000016,A,1,"G,",0,31,"-inf,0,3.778e-06,-inf,-inf,-inf,-inf,-inf,-inf...",...,"0,14050,264690,0,0,0,0,0,0,0,0,0,140184,0,0,0,...",1,"1627,",0,NaN,NaN,3,"GNOMAD,HUMAN_LONGEVITY,TOPMED,",0,NaN
3,chr2,12732230,12732231,rs1000000040,A,1,"C,",0,31,"-inf,0,3.778e-06,-inf,-inf,-inf,-inf,-inf,-inf...",...,"0,14050,264690,0,0,0,0,0,0,0,0,0,140182,0,0,0,...",1,"1627,",0,NaN,NaN,2,"GNOMAD,TOPMED,",0,NaN
4,chr2,12572350,12572351,rs1000000045,T,1,"C,",0,31,"-inf,7.11744e-05,3.778e-05,-inf,-inf,-inf,-inf...",...,"0,14050,264690,0,0,0,0,0,0,0,0,0,140178,0,0,0,...",2,"2152,1627,",0,NaN,NaN,2,"GNOMAD,TOPMED,",0,NaN

In [9]:
df_DBSNP.loc[df_DBSNP['name'] == 'rs1663876300']

,chromosome,start,end,name,ref,altCount,alts,shiftBases,freqSourceCount,minorAlleleFreq,...,alleleTotals,soTermCount,soTerms,clinVarCount,clinVarAccs,clinVarSigs,submitterCount,submitters,pubMedIdCount,pubMedIds
38774325,chr2,21031412,21031413,rs1663876300,C,1,"T,",0,31,"-inf,0,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf...",...,"0,10680,0,0,0,0,0,0,0,0,0,0,140150,0,0,0,0,0,0...",1,"1627,",0,NaN,NaN,1,"GNOMAD,",0,NaN

In [10]:
list(df_DBSNP.columns)

['chromosome',
 'start',
 'end',
 'name',
 'ref',
 'altCount',
 'alts',
 'shiftBases',
 'freqSourceCount',
 'minorAlleleFreq',
 'majorAllele',
 'minorAllele',
 'maxFuncImpact',
 'class',
 'ucscNotes',
 '_dataOffset',
 '_dataLen',
 'freqSourceCount.1',
 'alleleCounts',
 'alleleTotals',
 'soTermCount',
 'soTerms',
 'clinVarCount',
 'clinVarAccs',
 'clinVarSigs',
 'submitterCount',
 'submitters',
 'pubMedIdCount',
 'pubMedIds']