In [10]:
import numpy as np
import pandas as pd
import math

In [11]:
input_file_path = "/data/private/pdutta/Collab_data/Oliver_data/DNABERT_data/APOE_Core_Prom_90BP/all_data.tsv"

In [12]:
TATA_probab_file_path  = "/data/private/pdutta/DNABERT_output/TATA_CorePromoter/Prediction_result/APOE_Core_Prom_90BP/pred_results.npy"
nonTATA_probab_file_path  = "/data/private/pdutta/DNABERT_output/nonTATA_CorePromoter/Prediction_result/APOE_Core_Prom_90BP/pred_results.npy"

In [13]:
all_data = pd.read_csv(input_file_path, sep= "\t")
all_data

,CHROMOSOME,POS,ID,TAG,SEQUENCE,6-mer
0,19,44905879,rs373985746,Reference,AGGAGCCGGTGAGAAGCGCAGTCGGGGGCACGGGGATGAGCTCAGG...,AGGAGC GGAGCC GAGCCG AGCCGG GCCGGT CCGGTG CGGT...
1,19,44905879,rs373985746,Alternative,AGGAGCCGGTGAGAAGCGCAGTCGGGGGCACGGGGATGAGCTCAGA...,AGGAGC GGAGCC GAGCCG AGCCGG GCCGGT CCGGTG CGGT...
2,19,44905881,NaN,Reference,GAGCCGGTGAGAAGCGCAGTCGGGGGCACGGGGATGAGCTCAGGGG...,GAGCCG AGCCGG GCCGGT CCGGTG CGGTGA GGTGAG GTGA...
3,19,44905881,NaN,Alternative,GAGCCGGTGAGAAGCGCAGTCGGGGGCACGGGGATGAGCTCAGGGT...,GAGCCG AGCCGG GCCGGT CCGGTG CGGTGA GGTGAG GTGA...
4,19,44905886,NaN,Reference,GGTGAGAAGCGCAGTCGGGGGCACGGGGATGAGCTCAGGGGCCTCT...,GGTGAG GTGAGA TGAGAA GAGAAG AGAAGC GAAGCG AAGC...
5,19,44905886,NaN,Alternative,GGTGAGAAGCGCAGTCGGGGGCACGGGGATGAGCTCAGGGGCCTCC...,GGTGAG GTGAGA TGAGAA GAGAAG AGAAGC GAAGCG AAGC...
6,19,44905910,rs440446,Reference,GGGGATGAGCTCAGGGGCCTCTAGAAAGAGCTGGGACCCTGGGAAC...,GGGGAT GGGATG GGATGA GATGAG ATGAGC TGAGCT GAGC...
7,19,44905910,rs440446,Alternative,GGGGATGAGCTCAGGGGCCTCTAGAAAGAGCTGGGACCCTGGGAAG...,GGGGAT GGGATG GGATGA GATGAG ATGAGC TGAGCT GAGC...
8,19,44905923,NaN,Reference,GGGGCCTCTAGAAAGAGCTGGGACCCTGGGAACCCCTGGCCTCCAG...,GGGGCC GGGCCT GGCCTC GCCTCT CCTCTA CTCTAG TCTA...
9,19,44905923,NaN,Alternative,GGGGCCTCTAGAAAGAGCTGGGACCCTGGGAACCCCTGGCCTCCAA...,GGGGCC GGGCCT GGCCTC GCCTCT CCTCTA CTCTAG TCTA...
10,19,44906639,NaN,Reference,TTCCCCAGACTGGCCAATCACAGGCAGGAAGATGAAGGTTCTGTGG...,TTCCCC TCCCCA CCCCAG CCCAGA CCAGAC CAGACT AGAC...
11,19,44906639,NaN,Alternative,TTCCCCAGACTGGCCAATCACAGGCAGGAAGATGAAGGTTCTGTGA...,TTCCCC TCCCCA CCCCAG CCCAGA CCAGAC CAGACT AGAC...
12,19,44906646,NaN,Reference,GACTGGCCAATCACAGGCAGGAAGATGAAGGTTCTGTGGGCTGCGT...,GACTGG ACTGGC CTGGCC TGGCCA GGCCAA GCCAAT CCAA...
13,19,44906646,NaN,Alternative,GACTGGCCAATCACAGGCAGGAAGATGAAGGTTCTGTGGGCTGCGC...,GACTGG ACTGGC CTGGCC TGGCCA GGCCAA GCCAAT CCAA...
14,19,44907785,rs111833428,Reference,CTTGAACTTGTTCCACACAGGATGCCAGGCCAAGGTGGAGCAAGCG...,CTTGAA TTGAAC TGAACT GAACTT AACTTG ACTTGT CTTG...
15,19,44907785,rs111833428,Alternative,CTTGAACTTGTTCCACACAGGATGCCAGGCCAAGGTGGAGCAAGCA...,CTTGAA TTGAAC TGAACT GAACTT AACTTG ACTTGT CTTG...
16,19,44907788,NaN,Reference,GAACTTGTTCCACACAGGATGCCAGGCCAAGGTGGAGCAAGCGGTG...,GAACTT AACTTG ACTTGT CTTGTT TTGTTC TGTTCC GTTC...
17,19,44907788,NaN,Alternative,GAACTTGTTCCACACAGGATGCCAGGCCAAGGTGGAGCAAGCGGTA...,GAACTT AACTTG ACTTGT CTTGTT TTGTTC TGTTCC GTTC...
18,19,44907934,NaN,Reference,TGCAGACACTGTCTGAGCAGGTGCAGGAGGAGCTGCTCAGCTCCCA...,TGCAGA GCAGAC CAGACA AGACAC GACACT ACACTG CACT...
19,19,44907934,NaN,Alternative,TGCAGACACTGTCTGAGCAGGTGCAGGAGGAGCTGCTCAGCTCCCG...,TGCAGA GCAGAC CAGACA AGACAC GACACT ACACTG CACT...

In [14]:
df_APOE = all_data.iloc[::2].reset_index(drop=True)
df_APOE

,CHROMOSOME,POS,ID,TAG,SEQUENCE,6-mer
0,19,44905879,rs373985746,Reference,AGGAGCCGGTGAGAAGCGCAGTCGGGGGCACGGGGATGAGCTCAGG...,AGGAGC GGAGCC GAGCCG AGCCGG GCCGGT CCGGTG CGGT...
1,19,44905881,NaN,Reference,GAGCCGGTGAGAAGCGCAGTCGGGGGCACGGGGATGAGCTCAGGGG...,GAGCCG AGCCGG GCCGGT CCGGTG CGGTGA GGTGAG GTGA...
2,19,44905886,NaN,Reference,GGTGAGAAGCGCAGTCGGGGGCACGGGGATGAGCTCAGGGGCCTCT...,GGTGAG GTGAGA TGAGAA GAGAAG AGAAGC GAAGCG AAGC...
3,19,44905910,rs440446,Reference,GGGGATGAGCTCAGGGGCCTCTAGAAAGAGCTGGGACCCTGGGAAC...,GGGGAT GGGATG GGATGA GATGAG ATGAGC TGAGCT GAGC...
4,19,44905923,NaN,Reference,GGGGCCTCTAGAAAGAGCTGGGACCCTGGGAACCCCTGGCCTCCAG...,GGGGCC GGGCCT GGCCTC GCCTCT CCTCTA CTCTAG TCTA...
5,19,44906639,NaN,Reference,TTCCCCAGACTGGCCAATCACAGGCAGGAAGATGAAGGTTCTGTGG...,TTCCCC TCCCCA CCCCAG CCCAGA CCAGAC CAGACT AGAC...
6,19,44906646,NaN,Reference,GACTGGCCAATCACAGGCAGGAAGATGAAGGTTCTGTGGGCTGCGT...,GACTGG ACTGGC CTGGCC TGGCCA GGCCAA GCCAAT CCAA...
7,19,44907785,rs111833428,Reference,CTTGAACTTGTTCCACACAGGATGCCAGGCCAAGGTGGAGCAAGCG...,CTTGAA TTGAAC TGAACT GAACTT AACTTG ACTTGT CTTG...
8,19,44907788,NaN,Reference,GAACTTGTTCCACACAGGATGCCAGGCCAAGGTGGAGCAAGCGGTG...,GAACTT AACTTG ACTTGT CTTGTT TTGTTC TGTTCC GTTC...
9,19,44907934,NaN,Reference,TGCAGACACTGTCTGAGCAGGTGCAGGAGGAGCTGCTCAGCTCCCA...,TGCAGA GCAGAC CAGACA AGACAC GACACT ACACTG CACT...

In [15]:
df_APOE = df_APOE.drop(['6-mer','TAG'], axis=1)
df_APOE

,CHROMOSOME,POS,ID,SEQUENCE
0,19,44905879,rs373985746,AGGAGCCGGTGAGAAGCGCAGTCGGGGGCACGGGGATGAGCTCAGG...
1,19,44905881,NaN,GAGCCGGTGAGAAGCGCAGTCGGGGGCACGGGGATGAGCTCAGGGG...
2,19,44905886,NaN,GGTGAGAAGCGCAGTCGGGGGCACGGGGATGAGCTCAGGGGCCTCT...
3,19,44905910,rs440446,GGGGATGAGCTCAGGGGCCTCTAGAAAGAGCTGGGACCCTGGGAAC...
4,19,44905923,NaN,GGGGCCTCTAGAAAGAGCTGGGACCCTGGGAACCCCTGGCCTCCAG...
5,19,44906639,NaN,TTCCCCAGACTGGCCAATCACAGGCAGGAAGATGAAGGTTCTGTGG...
6,19,44906646,NaN,GACTGGCCAATCACAGGCAGGAAGATGAAGGTTCTGTGGGCTGCGT...
7,19,44907785,rs111833428,CTTGAACTTGTTCCACACAGGATGCCAGGCCAAGGTGGAGCAAGCG...
8,19,44907788,NaN,GAACTTGTTCCACACAGGATGCCAGGCCAAGGTGGAGCAAGCGGTG...
9,19,44907934,NaN,TGCAGACACTGTCTGAGCAGGTGCAGGAGGAGCTGCTCAGCTCCCA...

In [16]:
TATA_probablity = np.load(TATA_probab_file_path)
nonTATA_probablity = np.load(nonTATA_probab_file_path)

In [17]:
Reference_TATA_list = TATA_probablity[::2]
Alternative_TATA_list = TATA_probablity[1::2]
Refernce_nonTATA_list = nonTATA_probablity[::2]
Alternative_nonTATA_list = nonTATA_probablity[1::2]

In [18]:
df_APOE['TATA_ref']=Reference_TATA_list
df_APOE['TATA_alt']=Alternative_TATA_list
df_APOE['nonTATA_ref']=Refernce_nonTATA_list
df_APOE['nonTATA_alt']=Alternative_nonTATA_list

In [19]:
df_APOE

,CHROMOSOME,POS,ID,SEQUENCE,TATA_ref,TATA_alt,nonTATA_ref,nonTATA_alt
0,19,44905879,rs373985746,AGGAGCCGGTGAGAAGCGCAGTCGGGGGCACGGGGATGAGCTCAGG...,0.927144,0.997313,0.984842,0.985770
1,19,44905881,NaN,GAGCCGGTGAGAAGCGCAGTCGGGGGCACGGGGATGAGCTCAGGGG...,0.132552,0.234299,0.988968,0.980946
2,19,44905886,NaN,GGTGAGAAGCGCAGTCGGGGGCACGGGGATGAGCTCAGGGGCCTCT...,0.077222,0.000901,0.987957,0.992710
3,19,44905910,rs440446,GGGGATGAGCTCAGGGGCCTCTAGAAAGAGCTGGGACCCTGGGAAC...,0.737846,0.545913,0.983397,0.985032
4,19,44905923,NaN,GGGGCCTCTAGAAAGAGCTGGGACCCTGGGAACCCCTGGCCTCCAG...,0.999342,0.994933,0.983172,0.977045
5,19,44906639,NaN,TTCCCCAGACTGGCCAATCACAGGCAGGAAGATGAAGGTTCTGTGG...,0.118381,0.167090,0.957953,0.960493
6,19,44906646,NaN,GACTGGCCAATCACAGGCAGGAAGATGAAGGTTCTGTGGGCTGCGT...,0.003394,0.002856,0.924896,0.922751
7,19,44907785,rs111833428,CTTGAACTTGTTCCACACAGGATGCCAGGCCAAGGTGGAGCAAGCG...,0.999561,0.999699,0.870026,0.906010
8,19,44907788,NaN,GAACTTGTTCCACACAGGATGCCAGGCCAAGGTGGAGCAAGCGGTG...,0.977639,0.998861,0.930382,0.900353
9,19,44907934,NaN,TGCAGACACTGTCTGAGCAGGTGCAGGAGGAGCTGCTCAGCTCCCA...,0.998663,0.966259,0.993763,0.993722

In [20]:
def calculate_diff_probab(p1,p2):
    return((p2-p1)*max(p1,p2))

In [21]:
def log_oods_ratio(p1,p2):
    term1 = math.log2(p1/(1-p1))
    term2 = math.log2(p2/(1-p2))
    return (term1-term2)

In [22]:
calculate_diff_probab(0.944215, 1.790375e-03)

-0.889851467294375

In [23]:
log_oods_ratio(0.944215, 1.790375e-03)

13.204103456410776

In [24]:
df_APOE['TATAScoreChange'] = df_APOE.apply(lambda row: calculate_diff_probab(row['TATA_ref'], row['TATA_alt']), axis=1)
df_APOE['TATALogOddRatio'] = df_APOE.apply(lambda row: log_oods_ratio(row['TATA_ref'], row['TATA_alt']), axis=1)
df_APOE['nonTATAScoreChange'] = df_APOE.apply(lambda row: calculate_diff_probab(row['nonTATA_ref'], row['nonTATA_alt']), axis=1)
df_APOE['nonTATALogOddRatio'] = df_APOE.apply(lambda row: log_oods_ratio(row['nonTATA_ref'], row['nonTATA_alt']), axis=1)

In [25]:
df_APOE

,CHROMOSOME,POS,ID,SEQUENCE,TATA_ref,TATA_alt,nonTATA_ref,nonTATA_alt,TATAScoreChange,TATALogOddRatio,nonTATAScoreChange,nonTATALogOddRatio
0,19,44905879,rs373985746,AGGAGCCGGTGAGAAGCGCAGTCGGGGGCACGGGGATGAGCTCAGG...,0.927144,0.997313,0.984842,0.985770,0.069981,-4.866093,0.000914,-0.092471
1,19,44905881,NaN,GAGCCGGTGAGAAGCGCAGTCGGGGGCACGGGGATGAGCTCAGGGG...,0.132552,0.234299,0.988968,0.980946,0.023839,-1.001787,-0.007933,0.800122
2,19,44905886,NaN,GGTGAGAAGCGCAGTCGGGGGCACGGGGATGAGCTCAGGGGCCTCT...,0.077222,0.000901,0.987957,0.992710,-0.005894,6.535961,0.004718,-0.731010
3,19,44905910,rs440446,GGGGATGAGCTCAGGGGCCTCTAGAAAGAGCTGGGACCCTGGGAAC...,0.737846,0.545913,0.983397,0.985032,-0.141617,1.227206,0.001611,-0.152038
4,19,44905923,NaN,GGGGCCTCTAGAAAGAGCTGGGACCCTGGGAACCCCTGGCCTCCAG...,0.999342,0.994933,0.983172,0.977045,-0.004406,2.950669,-0.006024,0.456978
5,19,44906639,NaN,TTCCCCAGACTGGCCAATCACAGGCAGGAAGATGAAGGTTCTGTGG...,0.118381,0.167090,0.957953,0.960493,0.008139,-0.579180,0.002440,-0.093715
6,19,44906646,NaN,GACTGGCCAATCACAGGCAGGAAGATGAAGGTTCTGTGGGCTGCGT...,0.003394,0.002856,0.924896,0.922751,-0.000002,0.249895,-0.001983,0.043959
7,19,44907785,rs111833428,CTTGAACTTGTTCCACACAGGATGCCAGGCCAAGGTGGAGCAAGCG...,0.999561,0.999699,0.870026,0.906010,0.000138,-0.543671,0.032602,-0.526115
8,19,44907788,NaN,GAACTTGTTCCACACAGGATGCCAGGCCAAGGTGGAGCAAGCGGTG...,0.977639,0.998861,0.930382,0.900353,0.021197,-4.325759,-0.027938,0.564694
9,19,44907934,NaN,TGCAGACACTGTCTGAGCAGGTGCAGGAGGAGCTGCTCAGCTCCCA...,0.998663,0.966259,0.993763,0.993722,-0.032361,4.705371,-0.000041,0.009570

In [26]:
df_APOE.to_csv("/data/private/pdutta/Collab_data/Oliver_data/Output/APOE_CoreProm.csv", sep=",",index=False)