In [1]:
import numpy as np
import pandas as pd

In [2]:
prom_df = pd.read_csv("/data/private/pdutta/DNABERT_2/chr22_all_info.csv", sep=",")
pred_array = np.load('/data/private/pdutta/DNABERT_2/DNABERT2_Prom_Pred/preds.npy')

In [3]:
prom_df

,Coordinates,Sequence,6-mer
0,10510001-10510090,GAATTCTTGTGTTTATATAATAAGATGTCCTATAATTTCTGTTTGG...,GAATTC AATTCT ATTCTT TTCTTG TCTTGT CTTGTG TTGT...
1,10510051-10510140,TAAAATCAGCAACTAATATGTATTTTCAAAGCATTATAAATACAGA...,TAAAAT AAAATC AAATCA AATCAG ATCAGC TCAGCA CAGC...
2,10510101-10510190,TAAGTTACTTCACTGTGAAATGTAGTCATATAAAGAACATAATAAT...,TAAGTT AAGTTA AGTTAC GTTACT TTACTT TACTTC ACTT...
3,10510151-10510240,CTGGATTATTTTTAAATGGGCTGTCTAACATTATATTAAAAGGTTT...,CTGGAT TGGATT GGATTA GATTAT ATTATT TTATTT TATT...
4,10510201-10510290,AGTAATTCATTATATCAAAATGCTCCAggccaggcgtggtggctta...,AGTAAT GTAATT TAATTC AATTCA ATTCAT TTCATT TCAT...
...,...,...,...
783103,50808151-50808240,gagggtgagggtgagggtgggttagggttagggttagggttcgggt...,GAGGGT AGGGTG GGGTGA GGTGAG GTGAGG TGAGGG GAGG...
783104,50808201-50808290,gttcgggttcgggttcgggttcgggttcgggttcgggttcgggttc...,GTTCGG TTCGGG TCGGGT CGGGTT GGGTTC GGTTCG GTTC...
783105,50808251-50808340,tcgggttgggttagggttaggggttaggggttaggggttagggtta...,TCGGGT CGGGTT GGGTTG GGTTGG GTTGGG TTGGGT TGGG...
783106,50808301-50808390,tagggttagggttagggttagggttaggcttagggttagggtaggc...,TAGGGT AGGGTT GGGTTA GGTTAG GTTAGG TTAGGG TAGG...
783107,50808351-50808440,gcttagggttagggttagggttaggttagggttggggttagggtta...,GCTTAG CTTAGG TTAGGG TAGGGT AGGGTT GGGTTA GGTT...

In [4]:
if len(pred_array) == len(prom_df):
    prom_df['DNABERT_Prediction'] = pred_array
else:
    print("Error: The length of the NumPy array does not match the DataFrame.")
    print(len(prom_df), len(pred_array))

In [6]:
prom_df

,Coordinates,Sequence,6-mer,DNABERT_Prediction
0,10510001-10510090,GAATTCTTGTGTTTATATAATAAGATGTCCTATAATTTCTGTTTGG...,GAATTC AATTCT ATTCTT TTCTTG TCTTGT CTTGTG TTGT...,0
1,10510051-10510140,TAAAATCAGCAACTAATATGTATTTTCAAAGCATTATAAATACAGA...,TAAAAT AAAATC AAATCA AATCAG ATCAGC TCAGCA CAGC...,1
2,10510101-10510190,TAAGTTACTTCACTGTGAAATGTAGTCATATAAAGAACATAATAAT...,TAAGTT AAGTTA AGTTAC GTTACT TTACTT TACTTC ACTT...,0
3,10510151-10510240,CTGGATTATTTTTAAATGGGCTGTCTAACATTATATTAAAAGGTTT...,CTGGAT TGGATT GGATTA GATTAT ATTATT TTATTT TATT...,0
4,10510201-10510290,AGTAATTCATTATATCAAAATGCTCCAggccaggcgtggtggctta...,AGTAAT GTAATT TAATTC AATTCA ATTCAT TTCATT TCAT...,0
...,...,...,...,...
783103,50808151-50808240,gagggtgagggtgagggtgggttagggttagggttagggttcgggt...,GAGGGT AGGGTG GGGTGA GGTGAG GTGAGG TGAGGG GAGG...,1
783104,50808201-50808290,gttcgggttcgggttcgggttcgggttcgggttcgggttcgggttc...,GTTCGG TTCGGG TCGGGT CGGGTT GGGTTC GGTTCG GTTC...,1
783105,50808251-50808340,tcgggttgggttagggttaggggttaggggttaggggttagggtta...,TCGGGT CGGGTT GGGTTG GGTTGG GTTGGG TTGGGT TGGG...,1
783106,50808301-50808390,tagggttagggttagggttagggttaggcttagggttagggtaggc...,TAGGGT AGGGTT GGGTTA GGTTAG GTTAGG TTAGGG TAGG...,1
783107,50808351-50808440,gcttagggttagggttagggttaggttagggttggggttagggtta...,GCTTAG CTTAGG TTAGGG TAGGGT AGGGTT GGGTTA GGTT...,1

In [18]:
prom_df[prom_df['DNABERT_Prediction']==1].head(15)

,Coordinates,Sequence,6-mer,DNABERT_Prediction
1,10510051-10510140,TAAAATCAGCAACTAATATGTATTTTCAAAGCATTATAAATACAGA...,TAAAAT AAAATC AAATCA AATCAG ATCAGC TCAGCA CAGC...,1
5,10510251-10510340,tgtaatcccagcactttgggaggtcgaagtgggcggatcacttgag...,TGTAAT GTAATC TAATCC AATCCC ATCCCA TCCCAG CCCA...,1
6,10510301-10510390,ggagttggagactagcctggccaacatgatgaaaccccgtctctaa...,GGAGTT GAGTTG AGTTGG GTTGGA TTGGAG TGGAGA GGAG...,1
7,10510351-10510440,aataataaaaaaaaattagctgggtgtggtggtgggcaactgtaat...,AATAAT ATAATA TAATAA AATAAA ATAAAA TAAAAA AAAA...,1
8,10510401-10510490,gctaatcaggaggctgaggcagaagaattgcttgaacgtggaagac...,GCTAAT CTAATC TAATCA AATCAG ATCAGG TCAGGA CAGG...,1
9,10510451-10510540,tttacagtgtgccaagatcacaccaccctactccaacttgggtgac...,TTTACA TTACAG TACAGT ACAGTG CAGTGT AGTGTG GTGT...,1
10,10510501-10510590,caagactcagtctcaaggaaaaaaaaaaGCTCGAAAAATGTTTGCT...,CAAGAC AAGACT AGACTC GACTCA ACTCAG CTCAGT TCAG...,1
11,10510551-10510640,TTGGTAAAATTATTCATTGACTATGCTCAGAAATCAAGCAAACTGT...,TTGGTA TGGTAA GGTAAA GTAAAA TAAAAT AAAATT AAAT...,1
12,10510601-10510690,ATTTCATTTTTTGAAATTACATATTAAGGATCTAAAACAAAGGATA...,ATTTCA TTTCAT TTCATT TCATTT CATTTT ATTTTT TTTT...,1
13,10510651-10510740,ATCTGCAAAAATATTTGCATTTCTGGATAAATTAGTTTCCTGATTT...,ATCTGC TCTGCA CTGCAA TGCAAA GCAAAA CAAAAA AAAA...,1
14,10510701-10510790,CCTTGTTGACACTGAATATATTTTAAATTAAACAAGGTGCTGATAA...,CCTTGT CTTGTT TTGTTG TGTTGA GTTGAC TTGACA TGAC...,1
15,10510751-10510840,AAAGACAAAGAAAGAAATTCAAAATAAAATTGAAAGATGAAATCAG...,AAAGAC AAGACA AGACAA GACAAA ACAAAG CAAAGA AAAG...,1
16,10510801-10510890,TACCAGAGATAAAATTTCCTCTGACAGTGTAAAAGAGATCTTCATA...,TACCAG ACCAGA CCAGAG CAGAGA AGAGAT GAGATA AGAT...,1
17,10510851-10510940,AATCAGAATTTATATAGTCTCTTTCCAAAAGACCATAAAACCAATC...,AATCAG ATCAGA TCAGAA CAGAAT AGAATT GAATTT AATT...,1
19,10510951-10511040,CACCAAAATCCCTTTTAAATTCAAAGAGTCATAAAGTTTCAAAAAA...,CACCAA ACCAAA CCAAAA CAAAAT AAAATC AAATCC AATC...,1

In [15]:
prom_df['Sequence'][5]

'TAAAATCAGCAACTAATATGTATTTTCAAAGCATTATAAATACAGAGTGCTAAGTTACTTCACTGTGAAATGTAGTCATATAAAGAACAT'

In [7]:
selected_prom = prom_df[prom_df['DNABERT_Prediction']==1][['Coordinates']]
selected_prom

              Coordinates
1       10510051-10510140
5       10510251-10510340
6       10510301-10510390
7       10510351-10510440
8       10510401-10510490
...                   ...
783103  50808151-50808240
783104  50808201-50808290
783105  50808251-50808340
783106  50808301-50808390
783107  50808351-50808440

[565017 rows x 1 columns]

In [8]:
selected_prom.insert(0, 'Chromosome', 'chr22')
selected_prom[['Start', 'End']] = selected_prom['Coordinates'].str.split('-', expand=True)

In [9]:
selected_prom.drop('Coordinates', axis=1, inplace=True)
selected_prom

       Chromosome     Start       End
1           chr22  10510051  10510140
5           chr22  10510251  10510340
6           chr22  10510301  10510390
7           chr22  10510351  10510440
8           chr22  10510401  10510490
...           ...       ...       ...
783103      chr22  50808151  50808240
783104      chr22  50808201  50808290
783105      chr22  50808251  50808340
783106      chr22  50808301  50808390
783107      chr22  50808351  50808440

[565017 rows x 3 columns]

In [10]:
selected_prom.to_csv("/data/private/pdutta/DNABERT_2/DNABERT2_Prom_Pred/Predicted_Prom_bed.tsv", sep="\t", index=False)

In [11]:
selected_nonprom = prom_df[prom_df['DNABERT_Prediction']==0][['Coordinates']]
selected_nonprom

              Coordinates
0       10510001-10510090
2       10510101-10510190
3       10510151-10510240
4       10510201-10510290
18      10510901-10510990
...                   ...
783091  50807551-50807640
783092  50807601-50807690
783093  50807651-50807740
783094  50807701-50807790
783095  50807751-50807840

[218091 rows x 1 columns]

In [12]:
selected_nonprom.insert(0, 'Chromosome', 'chr22')
selected_nonprom[['Start', 'End']] = selected_nonprom['Coordinates'].str.split('-', expand=True)
selected_nonprom.drop('Coordinates', axis=1, inplace=True)
selected_nonprom

       Chromosome     Start       End
0           chr22  10510001  10510090
2           chr22  10510101  10510190
3           chr22  10510151  10510240
4           chr22  10510201  10510290
18          chr22  10510901  10510990
...           ...       ...       ...
783091      chr22  50807551  50807640
783092      chr22  50807601  50807690
783093      chr22  50807651  50807740
783094      chr22  50807701  50807790
783095      chr22  50807751  50807840

[218091 rows x 3 columns]

In [14]:
selected_nonprom.to_csv("/data/private/pdutta/DNABERT_2/DNABERT2_Prom_Pred/Predicted_Non_Prom_bed.tsv", sep="\t", index=False)