In [1]:
import pandas as pd

In [4]:
df_train =pd.read_csv("/data/projects/Enhancer/Finetuned_data/Consensus_filter_1/RF_train.tsv", sep="\t")
df_test =pd.read_csv("/data/projects/Enhancer/Finetuned_data/Consensus_filter_1/RF_dev.tsv", sep="\t")

In [8]:
df = pd.concat([df_train, df_test])
df_enhancer = df[df['label']==1][['coord']] 
df_enhancer

                         coord
1     chr6:167157937-167158136
2     chr8:140206853-140207052
4     chr5:170638695-170638894
9       chr1:63043547-63043746
10     chr19:19238266-19238465
...                        ...
3184  chr1:204552002-204552201
3186    chr9:38725772-38725971
3188    chr7:27950006-27950205
3189  chr2:171047833-171048032
3190   chr15:41720338-41720537

[7779 rows x 1 columns]

In [10]:
# Split the string at the colon (':')
df_enhancer['chromosome_name'] = df_enhancer['coord'].str.split(':').str[0]
df_enhancer['range'] = df_enhancer['coord'].str.split(':').str[1]

# Split the range at the hyphen ('-')
df_enhancer['enhancer_start'] = df_enhancer['range'].str.split('-').str[0].astype(int)
df_enhancer['enhancer_end'] = df_enhancer['range'].str.split('-').str[1].astype(int)
df_enhancer = df_enhancer.drop(columns=['coord', 'range'])
df_enhancer

     chromosome_name  enhancer_start  enhancer_end
1               chr6       167157937     167158136
2               chr8       140206853     140207052
4               chr5       170638695     170638894
9               chr1        63043547      63043746
10             chr19        19238266      19238465
...              ...             ...           ...
3184            chr1       204552002     204552201
3186            chr9        38725772      38725971
3188            chr7        27950006      27950205
3189            chr2       171047833     171048032
3190           chr15        41720338      41720537

[7779 rows x 3 columns]

In [11]:
df_enhancer.to_csv("/data/projects/Enhancer/RECOMB_2024/Enhancer_BED.tsv", sep="\t", index=False)