In [1]:
import os
import numpy as np
import pandas as pd
import sklearn
from io import StringIO
from IPython.display import display
import scipy.stats as stats

In [2]:
data_path = "/data/private/pdutta/Collab_data/David_data/GSE145996_FPKM.csv"

In [6]:
df  = pd.read_csv(data_path)
df = df.set_index('Gene Name')
df.index.name = None

In [7]:
df

,Sample_01_MB_1692,Sample_02_MB_2674,Sample_03_MB_4103,Sample_04_MB_2750,Sample_05_MB_2781,Sample_06_MB_1882,Sample_07_MB_3025,Sample_08_MB_3178,Sample_09_MB_3838,Sample_10_MB_2786,Sample_11_MB_2855,Sample_12_MB_3316,Sample_13_MB_3432,Sample_14_MB_4117
CD274,1.70986,0.926617,0.140566,0.451264,0.143912,0.304719,4.337970,0.669988,3.289100,0.19731,0.577418,0.324269,2.039720,1.10538
CD83,14.07950,14.355800,3.786870,6.857380,5.662150,33.627800,43.277500,13.358600,0.849617,5.52707,3.783520,10.605000,0.918732,10.53150
"MIR4647,NFKBIE,SLC35B2",82.68960,110.078000,188.939000,96.872700,107.308000,202.360000,35.959200,102.870000,119.056000,117.38100,128.903000,153.974000,82.680800,71.29930
NFKB1,6.86929,7.186990,4.460240,8.485910,8.531340,5.822500,27.338400,11.179600,3.599740,7.64725,7.713010,11.258800,9.621270,10.15000
NFKB2,54.02560,21.360100,15.936400,10.493100,8.146180,17.177800,33.370600,15.522800,13.619100,9.42208,21.950700,18.009700,41.287700,12.63090
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZYG11A,0.00000,0.017957,0.000000,0.000000,0.000000,0.000000,0.459389,0.000000,0.251401,0.00000,0.000000,0.000000,0.000000,0.00000
ZYG11B,1.30244,3.168090,2.520520,2.362310,2.048780,1.844670,2.838010,2.460560,1.824350,1.91992,1.108800,1.565430,1.153970,4.33191
ZYX,83.46900,213.506000,51.573500,39.065500,74.733900,86.566500,58.415900,106.278000,66.101400,75.99980,161.715000,108.526000,116.323000,153.47700
ZZEF1,17.03700,7.700550,5.395590,11.049600,11.122300,14.700800,8.885620,9.533870,10.508200,10.33280,9.980400,9.997040,6.146420,2.87673
ZZZ3,2.80840,8.858430,8.883630,8.300210,6.371460,4.894740,11.204900,5.623000,4.297460,5.98021,9.666980,5.316810,7.442370,6.45760

In [9]:
temp_df = df.loc[['PHGDH','SFXN1','SLC1A5']]
# temp_df = temp_df.iloc[:, 5:]
temp_df.columns = [col.split('_')[-2]+col.split('_')[-1] for col in temp_df.columns]
temp_df

,MB1692,MB2674,MB4103,MB2750,MB2781,MB1882,MB3025,MB3178,MB3838,MB2786,MB2855,MB3316,MB3432,MB4117
PHGDH,34.22430,0.839805,114.33700,95.68140,7.15695,5.445580,25.2469,24.68210,4.40445,9.14544,111.80600,154.022000,107.3410,75.0185
SFXN1,3.67948,0.285395,4.77279,6.61741,5.58919,0.605863,15.9954,4.54123,2.70413,4.44292,5.64504,0.168925,13.2837,17.2626
SLC1A5,72.71060,40.325800,33.63520,103.39000,51.58910,88.588200,26.6573,29.10230,36.38470,49.65090,23.22960,88.265600,50.4618,57.1366

In [11]:
df_transposed = temp_df.T
df_transposed['mean'] = df_transposed.mean(axis=1)
df_transposed['z_score'] = (df_transposed['mean']-df_transposed['mean'].mean())/df_transposed['mean'].std()
df_transposed

             PHGDH      SFXN1    SLC1A5       mean   z_score
MB1692   34.224300   3.679480   72.7106  36.871460 -0.064588
MB2674    0.839805   0.285395   40.3258  13.817000 -1.152772
MB4103  114.337000   4.772790   33.6352  50.914997  0.598275
MB2750   95.681400   6.617410  103.3900  68.562937  1.431268
MB2781    7.156950   5.589190   51.5891  21.445080 -0.792722
MB1882    5.445580   0.605863   88.5882  31.546548 -0.315927
MB3025   25.246900  15.995400   26.6573  22.633200 -0.736642
MB3178   24.682100   4.541230   29.1023  19.441877 -0.887275
MB3838    4.404450   2.704130   36.3847  14.497760 -1.120640
MB2786    9.145440   4.442920   49.6509  21.079753 -0.809966
MB2855  111.806000   5.645040   23.2296  46.893547  0.408460
MB3316  154.022000   0.168925   88.2656  80.818842  2.009754
MB3432  107.341000  13.283700   50.4618  57.028833  0.886851
MB4117   75.018500  17.262600   57.1366  49.805900  0.545925

In [45]:
dict_df = pd.read_excel("/data/private/pdutta/Collab_data/David_data/GSE145996_response.xlsx", sheet_name=['Supp1','Supp2'])
df_1  = dict_df.get('Supp1')
df_2  = dict_df.get('Supp2')
df_1 = df_1.set_index('Patient Number')
df_1.index.name = None
df_2 = df_2.set_index('Patient Number')
df_2.index.name = None
df_2 = df_2[df_2['RNASEQ']==1]
df_response = pd.merge(df_1, df_2, left_index=True, right_index=True)
df_response['Best Response' ] = [item[-1] for item in df_response['Best Response']]
df_response['Best Response' ] = [item.replace('D',"NR") for item in df_response['Best Response']]
# df_response['Tumor ID number'] = [item.strip() for item in df_response['sample_ID']]
df_response.set_index('Tumor ID number', inplace=True)
#df_response.index.name = None

In [46]:
df_response

                Best Response  RNASEQ
Tumor ID number
MB1692                      R       1
MB2781                      R       1
MB2786                     NR       1
MB2674                      R       1
MB2750                      R       1
MB2855                     NR       1
MB1882                      R       1
MB3025                      R       1
MB3178                      R       1
MB3432                     NR       1
MB3316                     NR       1
MB3838                     NR       1
MB4103                      R       1
MB4117                     NR       1

In [47]:
df_response.groupby('Best Response').size()

Best Response
NR    6
R     8
dtype: int64

In [52]:
df_merge = pd.merge(df_transposed, df_response, left_index=True, right_index=True)
df_merge = df_merge.iloc[:, :-1]
df_merge

             PHGDH      SFXN1    SLC1A5       mean   z_score Best Response
MB1692   34.224300   3.679480   72.7106  36.871460 -0.064588             R
MB2674    0.839805   0.285395   40.3258  13.817000 -1.152772             R
MB4103  114.337000   4.772790   33.6352  50.914997  0.598275             R
MB2750   95.681400   6.617410  103.3900  68.562937  1.431268             R
MB2781    7.156950   5.589190   51.5891  21.445080 -0.792722             R
MB1882    5.445580   0.605863   88.5882  31.546548 -0.315927             R
MB3025   25.246900  15.995400   26.6573  22.633200 -0.736642             R
MB3178   24.682100   4.541230   29.1023  19.441877 -0.887275             R
MB3838    4.404450   2.704130   36.3847  14.497760 -1.120640            NR
MB2855  111.806000   5.645040   23.2296  46.893547  0.408460            NR
MB3316  154.022000   0.168925   88.2656  80.818842  2.009754            NR
MB3432  107.341000  13.283700   50.4618  57.028833  0.886851            NR
MB4117   75.018500  17.262600   57.1366  49.805900  0.545925            NR

In [53]:
df_merge.groupby('Best Response').size()

Best Response
NR    5
R     8
dtype: int64

In [116]:
col_name= 'z_score'

In [117]:
val_list_3= df_merge[col_name].quantile([.25, .75]).values.tolist()
val_list_3

[-0.792722319687024, 0.5982748375655738]

In [118]:
def group_3(row, val_list):
    if row[col_name] < val_list[0]:
        return 0
    elif val_list[0] <= row[col_name] < val_list[1]:
        return 1
    elif val_list[1] <= row[col_name]:
        return 2

In [119]:
df_merge['{}_three_clusters'.format(col_name)] = df_merge.apply(lambda row: group_3(row, val_list_3), axis=1)

In [120]:
df_merge

,PHGDH,SFXN1,SLC1A5,mean,z_score,Best Response,PHGDH_three_clusters,SFXN1_three_clusters,SLC1A5_three_clusters,z_score_three_clusters
MB1692,34.224300,3.679480,72.7106,36.871460,-0.064588,R,1,1,2,1
MB2674,0.839805,0.285395,40.3258,13.817000,-1.152772,R,0,0,1,0
MB4103,114.337000,4.772790,33.6352,50.914997,0.598275,R,2,1,1,2
MB2750,95.681400,6.617410,103.3900,68.562937,1.431268,R,1,2,2,2
MB2781,7.156950,5.589190,51.5891,21.445080,-0.792722,R,1,1,1,1
MB1882,5.445580,0.605863,88.5882,31.546548,-0.315927,R,0,0,2,1
MB3025,25.246900,15.995400,26.6573,22.633200,-0.736642,R,1,2,0,1
MB3178,24.682100,4.541230,29.1023,19.441877,-0.887275,R,1,1,0,0
MB3838,4.404450,2.704130,36.3847,14.497760,-1.120640,NR,0,1,1,0
MB2855,111.806000,5.645040,23.2296,46.893547,0.408460,NR,2,1,0,1
MB3316,154.022000,0.168925,88.2656,80.818842,2.009754,NR,2,0,2,2
MB3432,107.341000,13.283700,50.4618,57.028833,0.886851,NR,2,2,1,2
MB4117,75.018500,17.262600,57.1366,49.805900,0.545925,NR,1,2,1,1

In [121]:
df_temp = df_merge.groupby(['Best Response','{}_three_clusters'.format(col_name)])[col_name].count().reset_index()
df_temp

  Best Response  z_score_three_clusters  z_score
0            NR                       0        1
1            NR                       1        2
2            NR                       2        2
3             R                       0        2
4             R                       1        4
5             R                       2        2

In [122]:
temp_numpy = df_temp[col_name].to_numpy()
C = np.reshape(temp_numpy, (-1, 3))
C

array([[1, 2, 2],
       [2, 4, 2]])

In [123]:
df_temp = df_temp[df_temp['{}_three_clusters'.format(col_name)]!=1]
df_temp

  Best Response  z_score_three_clusters  z_score
0            NR                       0        1
2            NR                       2        2
3             R                       0        2
5             R                       2        2

In [124]:
temp_numpy = df_temp[col_name].to_numpy()
B = np.reshape(temp_numpy, (-1, 2))
B

array([[1, 2],
       [2, 2]])

In [125]:

# importing packages
import scipy.stats as stats
  
#performing fishers exact test on the data
odd_ratio, p_value = stats.fisher_exact(B)
print('odd ratio is : ' + str(odd_ratio))
print('p_value is : ' + str(p_value))

odd ratio is : 0.5
p_value is : 1.0

In [126]:
from scipy.stats import chisquare
from scipy.stats import ttest_ind

In [127]:
chisquare(C, axis=None)

Power_divergenceResult(statistic=2.230769230769231, pvalue=0.8163793061897551)

In [128]:
grp1 = df_merge[df_merge['Best Response']=="NR"][col_name].to_list()
grp2 = df_merge[df_merge['Best Response']=="R"][col_name].to_list()

In [129]:
ttest_ind(grp1, grp2)

Ttest_indResult(statistic=1.4187069510913137, pvalue=0.18369112819689631)

In [130]:
col_name

'z_score'